@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --font-primary:"Bricolage Grotesque";
    --font-secondary:"Manrope";
}

html,body{
    overflow-x: hidden;
    cursor: none;
    background-color: black;
}

body::-webkit-scrollbar{
    display: none;
}

.container{
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}

.Heroleft h1{
    display:ruby;
}
